[submodule "greet"]
	path = greet
	url = https://github.com/MohamedFaruk-M/java-greet.git
[submodule "welcome"]
	path = welcome
	url = https://github.com/MohamedFaruk-M/java-welcome.git
[submodule "advance"]
	path = advance
	url = https://github.com/MohamedFaruk-M/java-advance.git
